node_modules/

.env
.env.*
!.env.example

uploads/*
!uploads/.gitkeep

!uploads/avatars/
uploads/avatars/*
!uploads/avatars/.gitkeep

!uploads/covers/
uploads/covers/*
!uploads/covers/.gitkeep

!uploads/subjects/
uploads/subjects/*
!uploads/subjects/.gitkeep

*.log
.DS_Store